* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'PF Din Display Pro Bold', 'Verdana', 'Tahoma', 'Arial', 'serif';
    font-size: 12px;
}
.wrapper {
    margin: auto;
    width: 980px;
    margin-bottom: 15px;
}

.thin_bar {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.thin_bar > * {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.main_logo {
    margin-left: 0px;
    margin-right: 30px;
    width: 156px;
}

.lang_container {
    display: inline-block;
    width: 30px;
}
.lang_button{
    text-align: center;
    height: 14px;
    margin-bottom: 1px;
}
.lang_button:first-child{
    background-color: black;
    color: white;
}
.reg {
    padding: 10px;
    height: 40px;
    display: inline-block;
    color: #1792D6;
    text-decoration: underline;
}
.search_form {
    width: 330px;
    height: 30px;
    padding: 5px;
    display: inline-block;
    margin: auto;
    border: 1px solid #E1E1E1;
}
.search {
    border: none;
    width: 270px;
    vertical-align: middle;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #21416E;
}
.thin_bar > a:last-child {
    margin-right: 0px;
}
nav {
    margin-top: 15px;
    height: 40px;
    border: 1px solid #E1E1E1;
}
ul {
    position: relative;
    list-style: none;
}
li {
    position: relative;
    display: inline-block;
}
nav > ul > li {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    height: 39px;
    border-right: 1px solid #E1E1E1;
    text-transform: uppercase;
}
nav > ul > li:last-child {
    border-right: none;
}
p {
    color: #727375;
    padding-bottom: 5px;
}
h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}
h1 {
    font-size: 38px;
    font-weight: normal;
}
.category {
    display: inline-block;
    margin-bottom: 10px;
    padding: 1px;
    height: 300px;
    width: 242px;
    border-right: 1px solid #E1E1E1;
    background-color: #F2F2F2;
}
.category figure {
    padding-left: 10px;
}
.category a {
    font-size: 14px;
}
h2 {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #F2F2F2;
}
.brand_logo {
    display: inline-block;
    padding: 8px;
}
.brand_prod {
    display: inline-block;
    width: 160px;
    height: 160px;
}
.brand_prod figure {
    margin-bottom: 5px;
}
.prod_img {
    display: block;
    margin: auto;
}
.bold {
    font-weight: bold;
}
.city {
    width: 24%;
}
.grey_container {
    padding: 10px;
    background-color: #F2F2F2;
}
.wide_li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 80px;
    width: 48%;
    border-bottom: 1px solid #E1E1E1;
}

.wide_li img {
    float: left;
    margin-right: 10px;
}
time {
    line-height: 2.5;
    color: #B9B4C4;
}

.forum_thread {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 60px;
    height: 50px;
    width: 26%;
    border-bottom: 1px solid #E1E1E1;
}
.forum_user {
    color: #909193;
}
footer {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #4E5158;
}
.social_block {
    vertical-align: top;
    display: inline-block;
    color: white;
    width: 30%;
}
.social_icons {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 40px;
}

.fa {
    display: inline-block;
    padding: 4px;
    width: 20px;
    height: 20px;
}
footer .fa {
    background-color: #323338;
}
.footer_links {
    width: 69%;
    display: inline-block;
}
.footer_list a {
    color: white;
}
.footer_links div {
    display: inline-block;
}
footer ul li {
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
    display: block;
    border-bottom: 1px solid #43464C;
}
.narrow_list {
    width: 145px;
}
.medium_list {
    width: 220px;
}
.wide_list {
    width: 300px;
}