* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'PF Din Display Pro Bold', 'Verdana', 'Tahoma', 'Arial', 'serif';
    font-size: 12px;
}
.wrapper {
    margin: auto;
    width: 980px;
    margin-bottom: 15px;
}

.thin_bar {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.thin_bar > * {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.main_logo {
    margin-left: 0px;
    margin-right: 30px;
    width: 156px;
}

.lang_container {
    display: inline-block;
    width: 75px;
    margin-right: 455px;
}
.lang_button{
    display: inline-block;
    text-align: center;
    height: 14px;
    margin-bottom: 1px;
    width: 35px;
}
.lang_button:first-child{
    background-color: black;
    color: white;
}
.border_left {
    border-left: 1px solid #E7E7E7;
    padding-left: 20px;
    margin-left: 0px;
}

footer a {
    text-align: left;
}
a {
    text-decoration: none;
    color: #2C93D9;
}
.thin_bar > a:last-child {
    margin-right: 0px;
}
nav {
    height: 40px;
    border: 1px solid #E1E1E1;
}
ul {
    position: relative;
    list-style: none;
}
li {
    position: relative;
    display: inline-block;
}
nav > ul > li {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    height: 39px;
    border-right: 1px solid #E1E1E1;
    text-transform: uppercase;
}
nav > ul > li:last-child {
    border-right: none;
}
.grey_txt {
    margin-top: 5px;
    color: #727375;
}
.smalltext {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 10px;
}
h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}
h2, h3 {
    color: #727375;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 18px;
}

.grey_container {
    line-height: 1.5;
    padding: 20px;
    background-color: #F4F4F4;
}

.red_txt {
    padding: 20px 0px;
    color: #F8384A;
    background-color: white;
    border-bottom: 1px solid #D4D4D4;
}
.company_logo {
    display: inline-block;
    height: 90px;
    width: 173px;
    border: 1px solid #D4D4D4;
    padding: 10px;
}
.bottom {
    vertical-align: bottom;
}
input, textarea, select{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #D4D4D4;
    font-family:'PF Din Display Pro Bold', 'Verdana', 'Tahoma', 'Arial', 'serif';
    font-size: 14px;
}
input {
    font-size: 14px;
}
input[type="text"], input[type="email"] {
    width: 400px;
}
.margin_r{
    margin-right: 10px;
}
textarea {
    resize: none;
    margin-top: 5px;
    font-size: 12px;
}

textarea:last-of-type {
    margin-bottom: 0px;
}
input:required, textarea:required, select:required{
    border-left: 2px solid #F8384A;
}
textarea + .fa {
    vertical-align: top;
}
select {
    width: 400px;
}
.blue {
    color: #1792D6;
}
.white {
    color: white;
}
.red {
    color: #D84134;
}
input[type="submit"]{
    text-transform: uppercase;
    height: 35px;
    width: 110px;
    background-color: #1792D6;
    color: white;
    margin-left: 150px;
    border: none;
}
input[type="submit"]:hover{
    background-color: #F43C4A;
}
footer {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #4E5158;
}
.social_block {
    vertical-align: top;
    display: inline-block;
    color: white;
    width: 30%;
}
.social_icons {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 40px;
}
.fa {
    display: inline-block;
    padding: 4px;
    width: 20px;
    height: 20px;
}
footer .fa {
    background-color: #323338;
}
.footer_links {
    width: 69%;
    display: inline-block;
}
.footer_list a {
    color: white;
}
.footer_links div {
    display: inline-block;
}
footer ul li {
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
    display: block;
    border-bottom: 1px solid #43464C;
}
.narrow_list {
    width: 145px;
}
.medium_list {
    width: 220px;
}
.wide_list {
    width: 300px;
}