* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PF Din Display Pro Bold', 'Verdana', 'Tahoma', 'Arial', 'serif';
}

ul, ol {
    margin-bottom: 0px;
}

@media screen and (max-width: 979px) {
    .wrapper {
        width: 100vw;
        height: auto;
    }
}



@media screen and (min-width: 980px) {
    .wrapper {
        margin: auto;
        width: 980px;
        height: auto;
    }
}

@media screen and (max-width: 719px) {
   .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }
}

@media screen and (min-width: 720px) {
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }
}

@media screen and (max-width: 720px) {
    .topbar-logo {
        visibility: hidden;
        width: 0;
    }
}

.topbar-region {
    cursor: pointer;
    color: #1792D6;
    text-decoration: underline;
}

.lang-container {
    width: 30px;
}

.lang-button {
    text-align: center;
    height: 14px;
    margin-bottom: 1px;
}

.lang-button:first-child {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1199px) {
    .search_form {
    display: flex;
    width: 30vw;
    border: 1px solid #E1E1E1;
    height: 30px;
    align-items: center;
}
}
@media screen and (min-width: 1200px) {
    .search_form {
    display: flex;
    width: 330px;
    border: 1px solid #E1E1E1;
    height: 30px;
    align-items: center;
}
}

.search__input {
    border: none;
    height: 100%;
    width: 90%;
    padding: 0 10px;
    outline: none;
}

.search__icon {
    float: right;
    margin-right: 10px;
}

.main-menu {
    display: table;
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.main-menu-item {
    display: table-cell;
    cursor: pointer;
    background-color: white;
    text-align: center;
    font-size: 1.15rem;
    border: 1px solid #E1E1E1;
    text-transform: uppercase;
    padding: 10px 0;
}

@media screen and (min-width: 720px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 719px) {
    .dropdown {
        display: table-cell;
    }
}

@media screen and (max-width: 719px) {
    .md-hidden {
        display: none;
    }
}

.dropdown-item {
    display: none;
}

.dropdown:hover > .dropdown-item {
    display: block;
}

.main-menu-item:hover {
    background-color: #F2F2F2;
}

/*осн стилі*/

section {
    padding: 35px 0;
}

.promo-background {
    height: 414px;
    background-image: url("img/1_fon_980.png");
    background-color: rgb(255, 255, 255, 0);
}
.promo-background:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 414px;
    background: rgba(0,0,0,0.5);
}

.promo {
    height: 339px;
    color: white;
}

.promo-text-container {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.promo-text {
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .promo-text{
        display: none;
    }
}


.promo-text_large {
    font-size: 48px;
    text-align: center;
}

.promo-text_tip {
    font-size: 14px;
    text-align: center;
}

.promo-form-container {
    padding: 0 10px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .promo-form-container{
        visibility: hidden;
    }
}
.promo-contacts-tip {
    display: inline-block;
    text-align: center;
    width: 49%;
    vertical-align: middle;
}

.promo-contacts-text {
    width: calc(100% - 35px);
    display: inline-block;
}

.promo-company-contacts {
    height: 100%;
}

.promo-input {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 5px 2px 5px;
    border: none;
    color: black;
}

.empty-input-message {
    visibility: hidden;
    font-size: 12px;
    color: #db3e4a;
    padding: 0 5px;
}

.promo-request-button {
    display: none;
    padding: 10px 25px;
    background-color: #5491d3;
    text-transform: uppercase;
    width: auto;
    border: none;
    color: white;
    width: 220px;
}

@media screen and (max-width: 768px) {
    .promo-request-button {
        display: block;
        margin: 0px;
    }
}

.default-button {
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #5491d3;
    text-transform: uppercase;
    width: auto;
    border: none;
    color: white;
}

.icon-telephone-white {
    vertical-align: middle;
}

.icon-telephone-black{
    vertical-align: top;
    display: inline-block;
}

.icon-clock, .icon-telephone-white, .icon-mail, .icon-telephone-black {
    height: 25px;
    width: 30px;
}

.icon-top-label {
    visibility: hidden;
    position: absolute;
    top: -10px;
    left: 20px;
    width: 40px;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .icon-top-label {
        visibility: visible;
    }
}

.icon-top {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 40px;
    height: 66px;
}

@media screen and (max-width: 768px) {
    .icon-top {
        visibility: hidden;
    }
}

.icon-star { 
    vertical-align: middle;
    height: 15px;
    width: 16px;
}

.icon-check {
    width: 23px;
    height: 19px;
}

.icon-monitor, .icon-rocket, .icon-sale {
    width: 48px;
    height: 51px;
    margin-right: 10px;
}


.package-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 35px;
}

.package-intro-promo {
    display: none;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .package-intro-promo{
        display: block;
    }
}

.stats-column {
    margin: 25px 0;
}

.section-header {
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
}

.bold-text {
    font-weight: bold;
}

.package-label {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin: 15px 0;
    display: none;
}

@media screen and (max-width: 768px) {
    .package-label {
        display: block;
    }
}

.package-radio {
    display: none;
}

@media screen and (max-width: 768px) {
    .package-col {
        display: none;
    }

    .package-col-legend{
        display: block;
    }

    .package-radio:checked + .package-col {
        display: block;
    }

}

.package-table {
    text-align: center;
}

.package-col-legend {
    text-align: left;
}

.package-col {
    border: 1px solid #e3e3e3;
    padding: 0px;
}

@media screen and (min-width: 769px) {
    .package-col-business {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
}

.col-header {
    color: #7290ca;
    text-transform: uppercase;
    font-size: 28px;
}

.package-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    background-color: #f6f6f6;
}

.package-price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.package-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.package-line-legend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    padding-left: 10px;
}

.simple-background {
    background-color: #f6f6f6;
}

.activation-step-head {
    height: 51px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.step-header {
    font-size: 16px;
    display: inline-block;
}



.activation-step-description {
    padding: 0 20px 0 61px;
    margin: 15px 0;
}

.marked-text {
    color: #6391cd;
}

.carousel.slide {
    height: 220px;
}

.carousel-indicators li {
	width: 12px;
	height: 12px;
	background-color: #e7e7e7;
}

.carousel-indicators .active {
	margin: 1px;
	width: 12px;
	height: 12px;
	background-color: #788ac1;
}

.review-description::before {
    margin: 0 20px 0 -36px;
    content: "\201C";
    color: #7290ca;
    text-transform: uppercase;
    font-size: 28px;
}

.review-description {
    padding-left: 61px;
    margin-bottom: 30px;
}

.review-picture {
    margin-right: 10px;
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("img/reviewer.jpg");
    background-position: 50% 0;
}

@media screen and (max-width: 480px) {
    .review-picture {
    height: 75px;
    width: 75px;
    background-position: 50% 0;
    }
}

.review-author {
    text-align: center;
}

.our-contacts {
    text-align: center;
}

.our-contacts-block {
    text-align: left;
    margin: 15px 0;
}


@media screen and (max-width: 768px) {
    .our-contacts-block {
        text-align: center;
        margin: 15px 0;
    }
}

.our-contacts-text {
    vertical-align: top;
    display: inline-block;
}

.contacts-text_no-icon {
    padding-left: 40px;
    display: block;
}


@media screen and (max-width: 768px) and (min-width: 480px) {
    .contacts-text_no-icon {
        padding-left: 40px;
        display: inline-block;
    }
}

.footer-fullwidth {
    width: 100vw;
    padding: 30px 10px;
    background-color: #4E5158;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-social-list {
    vertical-align: top;
    display: inline-block;
    color: white;
    width: 30%;
}

.footer-social-list-item {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 40px;
}

.fa {
    display: inline-block;
    padding: 4px;
    width: 20px;
    height: 20px;
}

.footer-social-list-item__icon {
    color: white;
    background-color: #323338;
}

.footer-links {
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-list-item__name {
    color: white;
}

.links-list-item {
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
    display: block;
    border-bottom: 1px solid #43464C;
}