body{
    background-color: #EEEEEE;
}
.page {
    font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
    padding: 60px;
    padding-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    width: 707px;
    height: 1025px;
}

h1 {
    text-align: center;
	font-size: 28px;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
    font-weight: normal;
    font-size: 20px;
}

p {
    margin-bottom: 26px;
}
.yellow-text {
    background-color: #FFE599;
}

.green-text {
    background-color: #93C47D;
}

.right {
    text-align: right;
    float: right;
    width: 65%; 
}

.right::first-line {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.right::first-letter {
    font-weight: bold;
    margin: 50px 0px;
    font-size: 20pt;
}

.floating-img {
    float: left; 
    padding-right: 10px;
    padding-bottom: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    height: 35px;
    width: 135px;
}

tr td:first-child {
        width: 50px;
}

tbody tr td:first-child { 
    background-color: #FFF2CC;
}

thead tr {
    background-color: #D9D9D9;
}

li {
    padding-left: 5px;
}

.blue{
    color: #275FCF;
    text-align: center;
}

.last::first-line {
    font-size: 19px;
}

.last {
        margin-top: 30px;
}