*{
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
a {
     text-decoration: none;
}
.wrapper {
    width: 100%;
}
.wrapper:first-child{
    margin-bottom: 0px;
    margin-top: 0px;
}
.inner {
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.logo {
    padding-top: 30px;
    width: 20%;
    height: 100px;
    float: left;

}
h1 {
    font-family: 'Indie Flower', cursive;
    padding-left: 0px;
    color: #EE6C06;
}
h1::first-line {
    font-size: 50px;
    padding-left: 0px;
}
nav {
    display: inline-block;
}
.navigation {
    list-style-type: none;
    display: inline-block;
}
.navigation li {
    padding-top: 40px;
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.navigation li:hover {
    color:white;
    background-color: #039AE7;
}
.navigation li a{
    color: inherit;
}
.right_header {
    float: right;
}
.search {
    margin-right: 0px;
    display: inline-block;
    width: 200px;
}
.slider {
    height: 540px;
    background-image: url(http://lorempixel.com/1360/540/technics/3/);
    border-top: 4px solid #039AE7;
    border-bottom: 4px solid #039AE7;

}
.icon_box {
    margin-top: 10px;
    padding: 10px;
    float: right;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
}
.icon_box i{
    color: #DE720E;
}
.blue_transparent_block {
    margin-top: 230px;
    width: 50%;
    padding: 30px;
    background-color: #21A0DE;
    opacity: 0.6;
}
.large_white_text {
    color: white;
    font-style: italic;
    font-size: 24px; 
}
.slider_buttons {
    margin-top: 20px;
}
.slider_switch_button {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #A5DFEE;
    border-radius: 5px;
}
.slider_switch_button:hover{
     background-color: #07598F;
}
.big_left_block {
    display: inline-block;
    width: 68%;
    margin-right: 30px;
}
h2 {
    font-size: 30px;
    line-height: 1.5;
}
.blue_text {
    color: #27A1CA;

}
.small_blue_button {
    width: 150px;
    height: 40px;
    background-color: #2E99D0;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.small_right_block {
    display: inline-block;
    vertical-align: top;
}
ul {
    list-style: none;
}
.small_right_block ul li i {
    margin: 5px;
    padding: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.list_text{
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
}
.small_right_block ul li:nth-child(1) i {
       background-color: #EE6C06;
}
.small_right_block ul li:nth-child(2) i {
       background-color: #679F35;
}
.small_right_block ul li:nth-child(3) i {
       background-color: #E9413E;
}
.small_right_block ul li:nth-child(4) i {
       background-color: #0D99EB;
}
.list_text:nth-child(1)::first-line{
    color: #EE6C06;
    font-weight: bold;
}
.list_text:nth-child(2)::first-line{
    color: #679F35;
    font-weight: bold;
}
.list_text:nth-child(3)::first-line{
    color: #E9413E;
    font-weight: bold;
}
.list_text:nth-child(4)::first-line{
    color: #0D99EB;
    font-weight: bold;
}
.big_picture_block {
    display: inline-block;
    width: 31%;
    margin-right: 10px;
}
h3 {
    font-size: 18px;
    color: #EE6C06;
    font-weight: bold;
}
.big_picture_block img {
    padding-top: 10px;
}
.big_picture_block p {
    padding-top: 10px;
}
.small_orange_button{
    margin-top: 10px;
    height: 30px;
    width: 120px;
    background-color: #EC6D00;
    color: white;
    text-align: center;
    padding: 5px;
}
.wide_event_block {
    padding: 50px;
    padding-top: 80px;
    height: 250px;
    background-image: url(http://lorempixel.com/1360/250/abstract/1/);
}
.big_transparent_button{
    text-align: center;
    padding-top: 15px;
    width: 230px;
    height: 50px;
    border: 1px solid white;
    color: white;
}
.small_picture_block {
    margin-top: 30px;
    display: inline-block;
    width: 31%;
    margin-right: 10px;
}
.small_picture_block img {
    float: left;
    padding-right: 5px;
}
h4 {
    margin-bottom: 3px;
    color: #2892AE;
    font-weight: bold;
}
.bold_yellow_text {
    color: #B97538;
    font-weight: bold;
}
.grey_bcg {
    background-color: #F2F2F2; 
}
.half_page {
    display: inline-block;
    width: 49%;
    padding-right: 30px;
}
/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 2px solid #2091BD;
    border-top: 1px solid #2091BD;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;  
	padding: 15px 25px;
	text-align: center;
	color: white;
	border: 2px solid #2091BD;
    border-bottom: 1px solid #2091BD;
	background: #039AE7;
    font-weight: bold;
}

/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #4592C1;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3 {
	display: block;
}
.medium_yellow_button {
    width: 150px;
    height: 40px;
    background-color: #EF6C00;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.market {
    padding: 50px;
    height: 300px;
    background-image: url(http://lorempixel.com/1360/300/abstract/6/);
}
.vlarge_white_text {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 30px;
}
.middle_button {
    display: block;
    margin: auto;
}
.large_icon_block {
    display: inline-block;
    width: 300px;
}
.green_text {
    color: #759A47;
    font-weight: bold;
}
.large_icon_block i {
    vertical-align: top;
    padding: 14px;
    display: inline-block;
    color: #759A47;
    border-radius: 50%;
    border: 2px solid #759A47;
    height: 75px;
    width: 75px;
}
.icon_text {
    padding: 10px;
    width: 220px;
    display: inline-block;
}
.stats_container {
    height: 300px;
    background-image: url(http://lorempixel.com/1360/300/abstract/2/);
}
.stats_block {
    display: inline-block;
    text-align: center;
    width: 24%;
    padding: 20px;
    color: white;
}
.stats_block i {
    margin-bottom: 20px;
}
.big_text {
    font-size: 36px;
    height: 50px;
    padding-top: 15px;
}
.medium_text {
    margin-top: 10px;
    font-size: 14px;
}
.inner img {
    margin-right: 10px;
    margin-bottom: 15px;
}
.team_bcg {
    padding: 50px;
    height: 300px;
    background-image: url(http://lorempixel.com/1360/300/business/6/);
}
.med_transp_block {
    margin-top: 50px;
    color: #039AE7;
    display: inline-block;
    height: 400px;
    width: 280px;
    text-align: center;
    border: 2px solid #039AE7;
    padding: 40px;
}
.plan_list li {
    color: black;
    height: 30px; 
    border-bottom: 1px solid grey;
}
.plan_list li:last-child {
    border-bottom: none;
    margin-bottom: 40px;
}

.price {
    vertical-align: middle;
    height: 60px;
    padding-top: 20px;
}
.lagre_price {
    font-weight: bold;
    font-size: 30px;
}
.top {
    vertical-align: top;
}
.big_blue_block {
    margin-right: 45px;
    margin-left: 45px;
    vertical-align: top;
    color: white;
    background-color: #039AE7;
    display: inline-block;
    border: 2px solid #039AE7;
    height: 500px;
    width: 280px;
    text-align: center;
    padding: 40px;
    padding-top: 90px;
}
.big_blue_block .plan_list li {
    color: white;
}
.medium_transparent_button{
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 40px;
    border: 1px solid white;
    color: white;
}
footer {
    border-top: 4px solid #039AE7;
}
.black_bcg {
    background-color: #3E3E3E;
}