* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PF Din Display Pro Bold', 'Verdana', 'Tahoma', 'Arial', 'serif';
    font-size: calc((100vmin - 480px) / (1280 - 480) * (24 - 12) + 12px);
}

@media screen and (min-width: 1200px) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-width: 719px) {
    .wrapper {
        padding: 10px;
        width: 100vw;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 720px) {
    .wrapper {
        padding: 10px;
        width: 100vw;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1010px) {
    .wrapper {
        padding: 10px;
        margin: auto auto 15px;
        width: 1010px;
    }
}

a {
    text-decoration: none;
    color: #21416E;
}

ul {
    position: relative;
    list-style: none;
}

li {
    position: relative;
    display: inline-block;
}


.section-header {
    margin: 10px 0;
    padding-left: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F2F2F2;
}

@media screen and (max-width: 719px) {
   .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }
}

@media screen and (min-width: 720px) {
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }
}

@media screen and (max-width: 720px) {
    .topbar-logo {
        visibility: hidden;
        width: 0;
    }
}

.topbar-region {
    cursor: pointer;
    color: #1792D6;
    text-decoration: underline;
}

.lang-container {
    width: 30px;
}

.lang-button {
    text-align: center;
    height: 14px;
    margin-bottom: 1px;
}

.lang-button:first-child {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1199px) {
    .search_form {
    display: flex;
    width: 30vw;
    border: 1px solid #E1E1E1;
    height: 30px;
    align-items: center;
}
}
@media screen and (min-width: 1200px) {
    .search_form {
    display: flex;
    width: 330px;
    border: 1px solid #E1E1E1;
    height: 30px;
    align-items: center;
}
}

.search__input {
    border: none;
    height: 100%;
    width: 90%;
    padding: 0 10px;
    outline: none;
}

.search__icon {
    float: right;
    margin-right: 10px;
}

.main-menu {
    display: table;
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.main-menu-item {
    display: table-cell;
    cursor: pointer;
    background-color: white;
    text-align: center;
    font-size: 1.15rem;
    border: 1px solid #E1E1E1;
    text-transform: uppercase;
    padding: 10px 0;
}

@media screen and (min-width: 720px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 719px) {
    .dropdown {
        display: table-cell;
    }
}

@media screen and (max-width: 719px) {
    .md-hidden {
        display: none;
    }
}

.dropdown-item {
    display: none;
}

.dropdown:hover > .dropdown-item {
    display: block;
}

.main-menu-item:hover {
    background-color: #F2F2F2;
}

.breadcrumbs {
    color: #727375;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-list:after {
    content: " ";
    flex: auto;
}

.category-list__header {
    font-size: 3rem;
    font-weight: 500;
    margin: 10px 0;
}

.category-item {
    margin: 0 2px 5px 2px;
    padding: 5px;
    height: 300px;
    width: 242px;
    background-color: #F2F2F2;
}

@media screen and (max-width: 988px) { 
    .category-item {
        margin: 0 0px 10px 0px;
        padding: 5px;
        height: auto;
        width: 25%;
        border: 1px solid #E1E1E1;
        background-color: #F2F2F2;
        }
}

@media screen and (max-width: 760px) { 
    .category-item {
        margin: 0 0px 10px 0px;
        padding: 5px;
        height: auto;
        width: 33.333333%;
        border: 1px solid #E1E1E1;
        background-color: #F2F2F2;
        }
}

.category-item__img {
    height: auto;
    width: 100%;
}
.category-item__name {
    display: block;
    margin: 10px;
    font-size: 1.2rem;
}

.page-description__paragraph {
    color: #727375;
    padding-bottom: 5px;
}

.brand-list {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-list:after {
    content: " ";
    flex: auto;
}

.brand-logo {
    width: 14.28%;
    padding: 0 5px;
}

.brand-logo__img {
    width: 100%;
    height: auto;
}

.brand-prod-row {
    overflow: hidden;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 15px;
}

.brand-prod-row:after {
    content: " ";
    flex: auto;
}


.brand-prod {
    margin-bottom: 10px;
    width: 150px;
    height: 170px;
}

@media screen and (max-width: 760px) { 
    .brand-prod {
        margin-bottom: 5px;
        width: 30vw;
        height: auto;
    }
}

.brand-prod__img {
    width: 100%;
    height: auto;
}

.brand-prod__price {
    font-weight: bold;
}

.section-regions {
    padding: 0 10px;
}

.city {
    width: 24%;
}

@media screen and (max-width: 760px) { 
    .city {
        width: 30vw;
    }
}

@media screen and (max-width: 420px) { 
    .city {
        width: 45vw;
    }
}

.tip-container {
    padding: 10px;
    background-color: #F2F2F2;
}

.tip-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tip-list-item {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 48%;
    border-bottom: 1px solid #E1E1E1;
}

@media screen and (max-width: 540px) { 
    .tip-list-item {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 100vw;
    border-bottom: 1px solid #E1E1E1;
}
}

.tip-list-item__image {
    display: inline-block;
    margin-right: 10px;
}

.tip-list-item-name {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 90px);
    }

.tip-list-item__date {
    display: block;
    line-height: 2.5;
    color: #B9B4C4;
}

.forum-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.forum-list-item {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 60px;
    height: 50px;
    width: 26%;
    border-bottom: 1px solid #E1E1E1;
}

@media screen and (max-width: 540px) { 
    .forum-list-item {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 60px;
    height: 50px;
    width: 100vw;
    border-bottom: 1px solid #E1E1E1;
}
}

.forum-list-item__date {
    display: inline-block;
    line-height: 2.5;
    color: #B9B4C4;
}

.forum-list-item__user {
    color: #909193;
}
.footer-fullwidth {
    width: 100vw;
    padding: 30px 10px;
    background-color: #4E5158;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-social-list {
    vertical-align: top;
    display: inline-block;
    color: white;
    width: 30%;
}

.footer-social-list-item {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 40px;
}

.fa {
    display: inline-block;
    padding: 4px;
    width: 20px;
    height: 20px;
}

.footer-social-list-item__icon {
    color: white;
    background-color: #323338;
}

.footer-links {
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-list-item__name {
    color: white;
}

.links-list-item {
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
    display: block;
    border-bottom: 1px solid #43464C;
}