* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'PF Din Display Pro Medium', 'Verdana', 'Tahoma', 'Arial', 'serif';
    font-size: 12px;
}
body {
    width: 55%;
    margin: auto;
}
header {
    padding: 15px;
    background-color: #D8D8D8;
}
h1 {
    font-family: 'PF Din Display Pro Medium', 'Verdana', 'Tahoma', 'Arial', 'serif';
    font-weight: normal;
    display: inline-block;
    font-size: 18px;
}
.fa-times {
    vertical-align: middle;
    color: #515151;
}
.fl_right {
    float: right;
}
.fa-times:hover {
    color: #F82E41;
}
.wrapper {
    padding: 15px 15px 0px 15px ;
}

.tip {
    font-size: 14px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 15px;
}
div {
    margin-bottom: 5px;
}
.grey_txt {
    margin-top: 5px;
    color: #808185;
}
img {
    margin-top: 10px;
    border: 3px solid #ff8f02;
    margin-bottom: 10px;
}
.border {
    border: 1px solid #D4D4D4;
}
.red {
    color: #F82E41;
}
.blue {
    font-size: 11px;
    color: #1792D6;
}
.white {
    color: white;
}
button {
    display: block;
    background-color: white;
    border: none;
    margin-bottom: 10px;
}
button:hover {
    text-decoration: underline;
}
.file_upload{
    display: block;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 30px;                 /* example */
    line-height: 30px;             /* the same as height */
    margin-bottom: 5px;
    margin-left: 0px;
}
.file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer;              /* example */
}
.file_upload .button{
    background-color: #E1E1E1;
    float: right;
    box-sizing: border-box;
    width: 75px;                  /* example */
    height: 100%;
    text-align: center;           /* example */
}
.file_upload > mark{
    background: transparent;     /* example */
    padding-left: 1em;            /* example */
}
.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}
input, textarea, select{
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #D4D4D4;
}
input, select {
    vertical-align: middle;
    height: 30px;
    font-size: 14px;
    width: 400px;
}
input:required, textarea:required, select:required{
    border-left: 2px solid #F8384A;
}
.hint {
    color: #B3B4B7;
    font-size: 11px;
}
.desc_wrapper {
    margin-right: 40px;
}
.desc_head {
    height: 80px;
    padding-right: 15px;
    margin: 0px;
    background-color: #F0F0F0;
    border-bottom: none;
}
textarea {
    width: 100%;
    resize: none;
}
.desc_foot {
    margin-top: -10px;
    height: 40px;
    background-color: #F0F0F0;
    border-top: none;
}
.price, .currency, .measure {
    display: inline-block;
}
.price, .currency {
    width: 120px;

}
.measure {
    width: 152px;
}
.characteristic_tree {
    padding: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="checkbox"], input[type="radio"] {
    height: auto;
    width: auto;
    margin-right: 25px;
}
.displayed {
    color: #0000FF;
}
.characteristic .characteristic .name_wrap {
    margin-left: 60px;
}
.characteristic label {
    display: block;
    margin-left: 80px;
}
.characteristic .characteristic {
    margin-left: 70px;
}
.oneline_char label {
    display: inline-block;
    margin-left: 0px;
}
.oneline_char input, .oneline_char select {
    display: inline-block;
    width: 80px;
    margin-right: 0px;
}
.oneline_char input[type="checkbox"] {
    width: auto;
}
.textinput_wrapper {
    display: inline-block;
}
.textinput_wrapper input {
    display: block;
    width: 150px;
}
.top {
    display: inline-block;
    vertical-align: top;
}
.centered_buttons {
    width: 350px;
    margin: auto;
}
.centered_buttons input {
    margin-right: 5px;
    height: 35px;
    font-size: 12px;
    padding: 10px 15px 15px 15px;
    border: none;
    width: auto;
    display: inline-block;
}
.blue_button {
    font-weight: 600;
    background-color: #1792D6;
    color: white;
    text-transform: uppercase;
}
.blue_button:hover {
    background-color: #F43C4A;
}
.transparen_button {
    background-color: white;
    color: #1792D6;
}
.transparen_button:hover{
    text-decoration: underline;
}